<header class="app-bar">
    <img src="assets/images/LogoME2.png" alt="Logo Metidieri Enterprises" class="logo-image">
    <nav class="nav-buttons">
        <button class="ff-button" data-page="home.html" onclick="navigateTo('home.html')">Home page</button>
        <button class="ff-button" data-page="projetos.html" onclick="navigateTo('projetos.html')">Projetos Principais</button>
        <button class="ff-button" data-page="fale-conosco.html" onclick="navigateTo('fale-conosco.html')">Fale conosco</button>
       <!-- <button class="ff-button" data-page="cadastro.html" onclick="navigateTo('cadastro.html')">Cadastrar/Logar</button>-->
    </nav>
    <div class="profile-icon-container">
        <img src="https://img.freepik.com/vetores-premium/icone-perfil-simples-cor-branco-icone_1076610-50204.jpg?semt=ais_hybrid" alt="Ícone de Perfil" class="profile-icon">
    </div>
</header>